[submodule "plugins/tmux-fzf"]
	path = plugins/tmux-fzf
	url = https://github.com/viktorhelgi/tmux-fzf-tmuxinator
[submodule "plugins/tmux-power"]
	path = plugins/tmux-power
	url = https://github.com/viktorhelgi/tmux-power
[submodule "plugins/tmux-menus"]
	path = plugins/tmux-menus
	url = https://github.com/jaclu/tmux-menus
