[submodule "plugins/tmux-fzf"]
	path = plugins/tmux-fzf
	url = https://github.com/viktorhelgi/tmux-fzf-tmuxinator
[submodule "plugins/tmux-power"]
	path = plugins/tmux-power
	url = https://github.com/viktorhelgi/tmux-power
[submodule "plugins/tmux-menus"]
	path = plugins/tmux-menus
	url = https://github.com/jaclu/tmux-menus
[submodule "plugins/tmux-pain-control"]
	path = plugins/tmux-pain-control
	url = https://github.com/tmux-plugins/tmux-pain-control
[submodule "plugins/tmux-sensible"]
	path = plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "plugins/tmux-sessionist"]
	path = plugins/tmux-sessionist
	url = https://github.com/tmux-plugins/tmux-sessionist
[submodule "plugins/tpm"]
	path = plugins/tpm
	url = https://github.com/tmux-plugins/tpm
